@import '../../Theme.scss';
@import '../Page.scss';

.tools-panel-container {
    position: fixed;
    height: 80px;
    bottom: 0px;
    width: 45vw;
    z-index: 20;
    display: flex;
    justify-content: center;

    .tools-panel {
        direction: var(--app-direction);
        transition: 0.2s;
        position: fixed;
        padding: 8px 10px 8px 10px;
        height: 40px;
        bottom: -50px;
        width: max-content;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        gap: 8px;
        background: var(--panel-bgcolor);
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);

        .tool {
            border-radius: 5px;
            width: 40px;
            height: 40px;
            background-color: var(--tool-bgcolor);

            &:hover {
                background-color: var(--tool-hover-bgcolor);

                &::after {
                    content: attr(data-tooltip);
                    color: hsla(var(--app-text-color), 1);
                    min-width: max-content;
                    position: fixed;
                    margin-bottom: 100px;
                    z-index: 1000;
                    padding: 6px 10px 6px 10px;
                    background-color: var(--button-bgcolor);
                    text-shadow: none;
                    border: 1px solid var(--page-border);
                    border-radius: 6px;
                    opacity: 0%;
                    animation: tooltip 0.1s ease-in-out 0.2s forwards;
                }
            }

            &:active {
                transform: scale(0.9);
                background-color: var(--tool-active-bgcolor);
            }

            .fi {
                line-height: 1.6;
                margin: auto;
                font-size: 20px;
                color: var(--tool-color);
                text-shadow: none;
            }

            &#clearPage {
                background-color: var(--clear-button-bgcolor);

                &:hover {
                    background-color: var(--clear-button-hover-bgcolor);
                }

                .fi {
                    color: var(--clear-button-color);
                }
            }
        }

        .tool-divider {
            fill: var(--tool-color);
            opacity: 50%;
            width: 20px;
            height: 100%;
        }
    }

    &:hover {
        .tools-panel {
            bottom: 14px;
        }
    }
}

@keyframes tooltip {
    from {
        transform: scale(0.95);
        opacity: 0%;
        box-shadow: 0px 1px 3px #00000000;
    }

    to {
        transform: scale(1);
        opacity: 100%;
        box-shadow: 0px 1px 3px #0000002a;
    }
}