#main-app.rtl {
  --app-direction: rtl;
}

:root {
  --app-direction: unset;

  // Logo 
  --logo-filter: brightness(1);

  // Application
  --app-accent-color: hsl(var(--theme-hue), 53%, 40%);
  --app-font-size: 16px;
  --app-font-family: 'Rubik2', 'NotoSansArabic';
  --app-bgcolor: hsl(var(--theme-hue), 11%, 7%);
  --app-border-color: hsl(var(--theme-hue), 7%, 25%);
  --app-text-color: 0, 0%, 85%;

  // Page
  --page-bgcolor: hsl(var(--theme-hue), 26%, 9%);
  --page-border: hsl(var(--theme-hue), 21%, 13%);

  // Blocks
  --math-block-bgcolor: hsl(var(--theme-hue), 21%, 13%);
  --math-block-selection: hsl(0, 0%, 100%);
  --math-block-selection-bg: hsl(var(--theme-hue), 21%, 25%);
  --mafs-plot-color: hsl(var(--theme-hue), 40%, 50%);
  --text-block-font-size: 20px;

  // Tools Panel
  --panel-bgcolor: hsl(var(--theme-hue), 26%, 18%);
  --tool-bgcolor: hsl(var(--theme-hue), 31%, 14%);
  --tool-hover-bgcolor: hsl(var(--theme-hue), 28%, 23%);
  --tool-active-bgcolor: hsl(var(--theme-hue), 27%, 18%);


  // Scrollbar
  --scroll-width: 8px;
  --scroll-track-bgcolor: hsla(0, 0%, 18%, 0.322);
  --scroll-thumb-bgcolor: hsla(0, 0%, 23%, 0.747);
  --scroll-thumb-hover-bgcolor: hsl(0, 0%, 33%);

  // Selection
  --selection-bgcolor: var(--app-accent-color);
  --selection-color: hsl(0, 0%, 100%);

  // Button
  --button-color: hsl(0, 0%, 100%);
  --button-border: 1px solid hsl(var(--theme-hue), 3%, 14%);
  --button-bgcolor: hsl(var(--theme-hue), 26%, 9%);
  --button-hover-bgcolor: hsl(var(--theme-hue), 25%, 12%);
  --button-active-bgcolor: hsl(var(--theme-hue), 27%, 18%);
  --button-shadow-color: hsla(0, 0%, 0%, 0.471);
  --pill-bgcolor: hsl(var(--theme-hue), 33%, 13%);
  --pill-hover-bgcolor: hsl(var(--theme-hue), 33%, 19%);
  --pill-active-bgcolor: hsl(var(--theme-hue), 33%, 15%);
  --tag-saturation: 19%;
  --tag-lightness: 23%;
  --tag-filter: brightness(110%);
  --button-danger: hsl(0, 50%, 50%);
  // --button-outline: 1px solid hsl(var(--theme-hue), 3%, 14%);
  --clear-button-bgcolor: hsl(0, 15%, 32%);
  --clear-button-hover-bgcolor: hsl(0, 16%, 39%);
  --clear-button-color: hsl(0, 12%, 66%);
  --sidebar-button-color: hsl(var(--theme-hue), 15%, 35%);
  --tool-color: hsl(var(--theme-hue), 16%, 67%);

  // File System
  --file-bgcolor: hsl(var(--theme-hue), 25%, 10%);
  --file-hover-bgcolor: hsl(var(--theme-hue), 25%, 12%);
  --file-active-bgcolor: hsl(var(--theme-hue), 25%, 14%);
  --selected-transparent: hsla(var(--theme-hue), 25%, 12%, 0.5);
  --selected-bgcolor: hsl(var(--theme-hue), 25%, 12%);
  --selected-hover-bgcolor: hsl(var(--theme-hue), 25%, 14%);
  --selected-active-bgcolor: hsl(var(--theme-hue), 25%, 16%);


  // Command Bar
  --command-bar-bg: linear-gradient(120deg,
      hsla(var(--theme-hue), 10%, 5%, 0.7),
      hsla(var(--theme-hue), 10%, 9%, 0.9), 70%,
      hsla(var(--theme-hue), 10%, 5%, 0.7));

  // Titlebar
  --titlebar-bgcolor: var(--app-bgcolor);
  --titlebar-color: hsl(0, 0%, 85%);
  --titlebar-title-color: hsl(0, 0%, 85%);
  --titlebar-menu-border-color: hsl(0, 1%, 17%);
  --titlebar-menu-title-hover-bgcolor: hsl(0deg 0% 12%);
  --titlebar-menu-title-active-bgcolor: hsl(0deg 0% 14%);
  --titlebar-menu-title-active-border-color: var(--titlebar-menu-border-color);
  --titlebar-menu-separator-bgcolor: var(--titlebar-menu-border-color);
  --titlebar-popup-bgcolor: hsl(0deg 0% 14%);
  --titlebar-popup-border: 1px solid var(--titlebar-menu-border-color);
  --titlebar-popup-shadow: 4px 10px 10px rgba(0, 0, 0, 0.2);
  --titlebar-popup-item-name-color: hsl(0, 0%, 75%);
  --titlebar-popup-item-shortcut-color: hsla(0, 0%, 55%, 0.8);
  --titlebar-popup-item-hover-color: hsl(0, 0%, 85%);
  --titlebar-popup-item-hover-bgcolor: hsl(0deg 0% 18%);
  --titlebar-popup-item-hover-shortcut-color: var(--app-accent-color);
  --titlebar-popup-item-name-shadow-color: hsl(0, 0%, 8%);

  // ERWT
  --erwt-heading-color: hsl(0, 0%, 87%);
}

/*
 *=========================================================================
 * ERWT Light Theme
 *=========================================================================
 *
 * Light theme for ERWT application.
 */

body:not(.dark-mode) {

  // Logo 
  --logo-filter: brightness(0.1);

  // Application
  --app-accent-color: hsl(var(--theme-hue), 62%, 49%);
  --app-bgcolor: hsl(var(--theme-hue), 78%, 98%);
  --app-text-color: 0, 0%, 10%;

  // Page
  --page-bgcolor: hsl(0, 0%, 100%);
  --page-border: hsl(var(--theme-hue), 51%, 86%);

  // Blocks
  --math-block-bgcolor: hsl(var(--theme-hue), 60%, 95%);
  --math-block-selection: hsl(0, 0%, 0%);
  --math-block-selection-bg: hsl(var(--theme-hue), 60%, 86%);
  --mafs-plot-color: hsl(var(--theme-hue), 60%, 60%);


  // Tools Panel
  --panel-bgcolor: hsl(0, 0%, 100%);
  --tool-bgcolor: hsl(var(--theme-hue), 51%, 86%);
  --tool-hover-bgcolor: hsl(var(--theme-hue), 40%, 78%);
  --tool-active-bgcolor: hsl(var(--theme-hue), 37%, 66%);

  // Selection
  --selection-bgcolor: var(--app-accent-color);
  --selection-color: hsl(0, 0%, 100%);

  // Scrollbar
  --scroll-track-bgcolor: hsla(0, 0%, 18%, 0.122);
  --scroll-thumb-bgcolor: hsla(0, 0%, 23%, 0.3);
  --scroll-thumb-hover-bgcolor: var(--app-accent-color);

  // Button
  --button-border: 1px solid hsl(0, 0%, 92%);
  --button-bgcolor: hsl(0, 0%, 100%);
  --button-color: hsl(0, 0%, 26%);
  --button-shadow-color: hsl(0, 0%, 100%);
  --button-hover-bgcolor: hsl(0, 0%, 98%);
  --button-active-bgcolor: hsl(0, 0%, 96%);
  --pill-bgcolor: hsl(var(--theme-hue), 29%, 86%);
  --pill-hover-bgcolor: hsl(var(--theme-hue), 29%, 75%);
  --pill-active-bgcolor: hsl(var(--theme-hue), 29%, 80%);
  --tag-saturation: 47%;
  --tag-lightness: 93%;
  --button-danger: hsl(0, 100%, 90%);
  --tag-filter: brightness(90%);
  --clear-button-bgcolor: hsl(0, 41%, 92%);
  --clear-button-color: hsl(0, 34%, 40%);
  --clear-button-hover-bgcolor: hsl(0, 44%, 85%);
  --tool-color: hsl(var(--theme-hue), 23%, 28%);
  --sidebar-button-color: hsl(var(--theme-hue), 15%, 35%);

  // File System
  --file-bgcolor: hsl(var(--theme-hue), 25%, 90%);
  --file-hover-bgcolor: hsl(var(--theme-hue), 25%, 88%);
  --file-active-bgcolor: hsl(var(--theme-hue), 25%, 86%);
  --selected-transparent: hsl(var(--theme-hue), 25%, 88%, 0.5);
  --selected-bgcolor: hsl(var(--theme-hue), 25%, 88%);
  --selected-hover-bgcolor: hsl(var(--theme-hue), 25%, 86%);
  --selected-active-bgcolor: hsl(var(--theme-hue), 25%, 84%);

  // Command Bar
  --command-bar-bg: linear-gradient(120deg,
      hsla(var(--theme-hue), 30%, 90%, 0.7),
      hsla(var(--theme-hue), 30%, 90%, 0.2), 70%,
      hsla(var(--theme-hue), 30%, 90%, 0.7));

  // Titlebar
  --titlebar-bgcolor: var(--app-bgcolor);
  --titlebar-color: hsl(0, 0%, 12%);
  --titlebar-title-color: var(--titlebar-color);
  --titlebar-menu-title-hover-bgcolor: hsl(0, 0%, 90%);
  --titlebar-popup-item-hover-bgcolor: hsl(210deg 16% 92%);
  --titlebar-popup-bgcolor: hsl(0deg 0% 99%);
  --titlebar-menu-title-active-bgcolor: hsl(0deg 0% 99%);
  --titlebar-menu-title-active-border-color: hsl(204, 6%, 84%);
  --titlebar-popup-border: 1px solid hsl(204, 6%, 84%);
  --titlebar-menu-separator-bgcolor: hsl(204, 6%, 84%);
  --titlebar-popup-item-hover-bgcolor: hsl(210, 11%, 85%);
  --titlebar-popup-item-name-color: hsl(0, 0%, 5%);
  --titlebar-popup-item-name-shadow-color: hsla(0, 0%, 100%, 0.8);
  --titlebar-popup-item-hover-color: hsl(0, 0%, 0%);
  --titlebar-popup-item-hover-shortcut-color: var(--app-accent-color);
  --titlebar-popup-item-hover-bgcolor: hsl(0, 0%, 90%);

  // ERWT
  --erwt-heading-color: hsl(0, 0%, 16%);

  // Overrides
  .main-teaser {
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 45%);

    &:after {
      box-shadow: none;
    }
  }

  .versions .item {
    color: hsl(0, 0%, 40%);
    background: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.02);

    &>span {
      color: hsl(0, 0%, 60%);
    }
  }
}