@import '../Theme.scss';
@import '~keyboard-css/dist/css/main.min.css';

::-webkit-scrollbar {
    width: 0;
}

.page {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    max-width: calc(100% - 110px);
    background: var(--page-bgcolor);
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    box-sizing: border-box;
    border-color: var(--page-border);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .page-grid {
        min-width: 60%;
        width: 70%;
        max-width: 80%;
        height: 100%;

        display: flex;
        flex-direction: column;
        overflow-y: auto;
        align-items: center;

        .grid-container {
            padding-top: 100px;
            margin-bottom: 80px;
            height: 100%;
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: space-between;
        }
    }

    .page-placeholder {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .placeholder-text {
            line-height: 1.5;
            opacity: 70%;
            font-weight: 100;
            text-align: center;
            padding-bottom: 80px;
            font-size: 20px;
            color: hsla(var(--app-text-color), 1);

            .fi{
                height: 18px;
                display: inline-block;
                margin-bottom: 6px;
                font-size: 18px;
            }
            .kbc-button {
                font-family: 'Rubik2', 'NotoSansArabic' !important;
                font-weight: 100;
                color: hsla(var(--app-text-color), 1) !important;
                box-shadow:
                    0 0 var(--page-border),
                    0 0 var(--page-border),
                    0 1px var(--page-border),
                    0 2px var(--page-border),
                    0 3px var(--page-border),
                    0 4px var(--page-border),
                    0 5px var(--page-border),
                    2px 2.5px 4px var(--page-border) !important;
                background-color: var(--page-bgcolor) !important;
                border: 1px solid var(--page-border) !important;
                border-bottom: 1px solid var(--page-border) !important;

                &::after {
                    border: 1px solid var(--page-border) !important;
                }
            }
        }
    }
}