@import '../Theme.scss';
@import '../../../../node_modules/react-grid-layout/css/styles.css';
@import '../../../../node_modules/react-resizable/css/styles.css';

/**
 *==========================================================================
 * Application Specific Stylesheet
 *==========================================================================
 *
 * Here we use the codes to apply application specific style
 */

::selection {
    background: var(--selection-bgcolor);
    color: var(--selection-color);
}

::-webkit-scrollbar {
    display: none;

    &-track {
        background: var(--scroll-track-bgcolor);
    }

    &-thumb {
        background: var(--scroll-thumb-bgcolor);
    }

    &-thumb:hover {
        background: var(--scroll-thumb-hover-bgcolor);
    }
}


.page {
    width: 100%;
    height: 100%;
    background: var(--page-bgcolor);
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    box-sizing: border-box;
    border-color: var(--page-border);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-grid {
        // overflow-y: auto;
        // overflow-x: hidden;
        position: fixed;
        display: flex;
        flex-direction: column;
        left: 20vw;
        padding-top: 80px;
        width: 60vw;
        height: calc(100% - 160px);
        align-items: center;

        .react-grid-layout {
            direction: rtl;
            width: inherit;

            .react-grid-item {
                color: white;
                border-radius: 5px;
                outline: 1px solid transparent;
                transition: 0.2s;
                
                &:hover {
                    outline: 1px solid #2c3d44;
                }
            }
        }

    }

    .tools-panel {
        position: fixed;
        padding: 8px 10px 8px 10px;
        height: 40px;
        bottom: 14px;
        z-index: 20;
        width: max-content;
        display: flex;
        flex-direction: row-reverse;
        border-radius: 8px;
        gap: 8px;
        background: var(--panel-bgcolor);
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);

        .tool {
            border-radius: 5px;
            width: 40px;
            height: 40px;
            background-color: var(--tool-bgcolor);
            
            .fi {
                line-height: 1.6;
                margin: auto;
                font-size: 20px;
                color: var(--tool-color);
                text-shadow: none;
              }
            &#clearPage {
                background-color: var(--clear-button-bgcolor);
                .fi {
                    color: var(--clear-button-color);
                }
            }
        }
    }
}