@import '../Theme.scss';

#notification {
    direction: var(--app-direction);
    visibility: hidden;
    z-index: 1;
    padding: 6px 10px 6px 10px;
    background-color: var(--button-bgcolor);
    text-shadow: none;
    border: 1px solid var(--page-border);
    border-radius: 6px;
    color: hsla(var(--app-text-color), 1);
    text-align: center;
    align-self: center;
    position: relative;
    width: max-content;
    box-shadow: 0px 1px 3px #0000002a;
    display: block;
    bottom: 1px;

    &.show {
        visibility: visible;
        -webkit-animation: fadein 0.2s, fadeout 0.3s 1s;
        animation: fadein 0.2s, fadeout 0.3s 1s;
      }
  }
    
@-webkit-keyframes fadein {
from { bottom: 0; opacity: 0; }
to { bottom: 1px; opacity: 1; }
}

@keyframes fadein {
from { bottom: 0; opacity: 0; }
to { bottom: 1px; opacity: 1; }
}

@-webkit-keyframes fadeout {
from { bottom: 1px; opacity: 1; }
to { bottom: 0; opacity: 0; }
}

@keyframes fadeout {
from { bottom: 1px; opacity: 1; }
to { bottom: 0; opacity: 0; }
}