@import '../Theme.scss';

.actions-group {
    display: none;
}

.left-sidebar.open{
    min-width: max-content;

    .actions-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        .actions-group-title {
            width: 100%;
            margin: 0;
            color: var(--titlebar-color);
            font-size: 22px;
            opacity: 50%;
        }
    
        .actions-group-content{
            width: 100%;
            min-height: 100px;
        }
    }
}
