@import '~react-complex-tree/lib/style-modern.css';
@import '../Theme.scss';

.file-system {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    color: var(--button-color);
    opacity: 60%;
    white-space: nowrap;
    font-size: 19px;
    font-weight: 700;
    width: 100%;
  }


  .files-tree-container {
    height: 100%;
    width: 100%;
    flex-grow: 1;

    .rct-tree-root {
      height: 100%;

      [role="tree"] {
        height: 100%;

        &>.rct-tree-items-container {
          height: 100%;

          [role="treeitem"] {

            .rct-tree-item-title-container {

              .rct-tree-item-button {
                white-space: nowrap;
                height: 100%;
                direction: rtl;
                background-color: transparent;
                color: var(--titlebar-color);
                border-radius: 10px;
                text-shadow: none;
                font-family: 'Rubik2';
                font-size: 16px;
                height: 40px;
                flex-direction: row;
                justify-content: flex-start;
                // direction: ltr;
                padding: 0 var(--rct-item-padding) 0 calc(var(--rct-item-padding) + var(--rct-arrow-container-size) + var(--rct-arrow-padding));
                margin-right: calc(-1 * var(--rct-arrow-size));
                margin-left: calc(-1 * var(--rct-arrow-size));
                padding-left: 12px;
                padding-right: 12px;
                cursor: var(--rct-cursor);
                transition: color 100ms ease-out, background-color 100ms ease-out, font-weight 100ms ease-in;

                &:hover {
                  background-color: var(--file-hover-bgcolor);
                  color: var(--titlebar-color);
                }

                &:active {
                  background-color: var(--file-active-bgcolor);
                  color: var(--titlebar-color);
                }

                &::before {
                  // Override
                  position: unset;
                  top: unset;
                  left: unset;
                  height: unset;
                  width: unset;
                  background-color: unset;
                  border-radius: unset;

                  // Custom
                  font-family: 'uicons-regular-rounded';
                  font-weight: 300;
                  font-size: large;
                  content: "\f35d";
                  padding-left: 10px;
                }

                &.rct-tree-item-button-isFolder {

                  &::after {
                    display: none;
                  }

                  &.rct-tree-item-button-expanded {
                    &::before {
                      font-family: 'uicons-regular-rounded';
                      font-weight: 300;
                      font-size: large;
                      content: "\f1de";
                    }
                  }

                  &::before {
                    font-family: 'uicons-regular-rounded';
                    font-weight: 300;
                    font-size: large;
                    content: "\f1e6";
                  }
                }
              }

              .rct-tree-item-button-focused {
                background-color: var(--file-bgcolor);

              }

              .rct-tree-item-button-expanded {
                background-color: var(--selected-bgcolor);
                color: var(--titlebar-color);
                font-weight: 700;


                &:hover {
                  background-color: var(--selected-hover-bgcolor);
                }

                &:active {
                  background-color: var(--selected-active-bgcolor);
                }
              }

              .rct-tree-item-arrow {
                display: none;
              }
            }


            [role="group"] {
              height: fit-content;
              // padding-top: 10px;
              padding-right: 20px;

              .rct-tree-item-title-container {
                padding-left: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}