@import '~react-complex-tree/lib/style-modern.css';
@import '../Theme.scss';

.file-system {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 190px;
  max-width: 230px;

  .file-system-header {
    display: flex;
    flex-direction: row;
    direction: rtl;
    height: max-content;
    padding-bottom: 10px;
    padding-top: 3px;
    align-items: center;

    .file-system-header-title {
      color: var(--button-color);
      opacity: 60%;
      white-space: nowrap;
      font-size: 21px;
      font-weight: 700;
      width: 100%;
    }

    .file-system-header-buttons {
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      direction: rtl;
      width: max-content;
      gap: 3px;

      button {
        background: none;
        padding: 5px !important;
        color: var(--tool-color);
        transition: 0.1s;

        &:hover {
          background: none;
          color: var(--button-color);
        }

        &:active {
          transform: scale(0.92);
        }

        i {
          font-size: 18px;
          height: 18px;
        }
      }
    }
  }

  .files-tree-container {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    min-width: inherit;
    max-width: inherit;

    .rct-tree-root {
      height: calc(100% - 30px);

      [role="tree"] {
        height: inherit;

        &>.rct-tree-items-container {
          height: inherit;

          [role="treeitem"] {
            .rct-tree-item-title-container {
              .rct-tree-item-button {
                overflow: hidden;
                min-width: inherit;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 100%;
                direction: rtl;
                background-color: transparent;
                color: var(--titlebar-color);
                border-radius: 10px;
                text-shadow: none;
                font-family: 'Rubik2';
                font-size: 16px;
                height: 40px;
                flex-direction: row;
                justify-content: flex-start;
                // direction: ltr;
                padding: 0 var(--rct-item-padding) 0 calc(var(--rct-item-padding) + var(--rct-arrow-container-size) + var(--rct-arrow-padding));
                margin-right: calc(-1 * var(--rct-arrow-size));
                margin-left: calc(-1 * var(--rct-arrow-size));
                padding-right: 12px;
                cursor: var(--rct-cursor);
                transition: color 100ms ease-out, background-color 100ms ease-out, font-weight 100ms ease-in;

                &:hover {
                  background-color: var(--file-hover-bgcolor);
                  color: var(--titlebar-color);
                }

                &:active {
                  background-color: var(--file-active-bgcolor);
                  color: var(--titlebar-color);
                }

                &::before {
                  // Override
                  position: unset;
                  top: unset;
                  left: unset;
                  height: unset;
                  width: unset;
                  background-color: unset;
                  border-radius: unset;

                  // Custom
                  color: var(--tool-color);
                  font-family: 'uicons-regular-rounded';
                  font-weight: 300;
                  font-size: large;
                  content: "\f35d";
                  padding-left: 10px;
                }

                &.rct-tree-item-button-isFolder {
                  &::after {
                    display: none;
                  }

                  &.rct-tree-item-button-expanded {
                    &::before {
                      font-family: 'uicons-regular-rounded';
                      font-weight: 300;
                      font-size: large;
                      content: "\f1de";
                    }
                  }

                  &::before {
                    font-family: 'uicons-regular-rounded';
                    font-weight: 300;
                    font-size: large;
                    content: "\f1e6";
                  }
                }
              }

              .rct-tree-item-button-focused {
                background-color: var(--selected-transparent);
              }

              .rct-tree-item-button-expanded {
                background-color: var(--selected-bgcolor);
                color: var(--titlebar-color);
                font-weight: 700;


                &:hover {
                  background-color: var(--selected-hover-bgcolor);
                }

                &:active {
                  background-color: var(--selected-active-bgcolor);
                }
              }

              .rct-tree-item-arrow {
                display: none;
              }
            }


            [role="group"] {
              height: fit-content;
              // padding-top: 10px;
              padding-right: 20px;

              .rct-tree-item-title-container {
                padding-left: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}