

.right-sidebar {
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  width: 45px;
  min-width: 45px;
  max-width: 45px;

  .basic {
    transition: 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: space-between;
    align-items: flex-start;

    section {
      display: flex;
      flex-direction: column;
      direction: rtl;
      align-items: flex-start;
      gap: 8px;
      transition: 0.2s;
      
      .sidebar-button {
        transition: 0.2s;
        background-color: transparent;
        width: 45px;
        height: 45px;
        border-radius: 15px;

        &:hover {
          .fi{
            color: var(--titlebar-color);
          }
        }

        &:active {
          transform: scale(0.9);
        }

        .fi {
          transition: 0.2s color;
          margin: auto;
          font-size: 22px;
          color: var(--sidebar-button-color);
          text-shadow: none;
        }
      }
    }

    section#bottom {
      padding-bottom: 10px;
    }

    .extension {
      width: 45px;
      height: 100%;
    }
  }
}

.right-sidebar.open {
  width: 100%;
  min-width: 230px;
  max-width: 15vw;
}
