@import '../../Theme.scss';
@import '../Page.scss';

.layout {
    height: 100%;
    direction: ltr;
    width: 100%;
    padding-bottom: 50px;

    .react-grid-placeholder{
        transition: 0.2s;
        background-color: var(--tool-bgcolor);
        opacity: 20%;
        border-radius: 5px;
    }
    
    .block {
        transition: 0.2s;
        display: flex;
        flex-direction: row;  
        width: 100%;
        height: 100%;
        gap: 5px;
        direction: rtl;

        .react-resizable-handle {
            z-index: 100;

            &::after {
                opacity: 20%;
                border-right: 2px solid var(--titlebar-color);
                border-bottom: 2px solid var(--titlebar-color);
                border-radius: 0 0 5px 0;
            }
        }

        .block-content {
            transition: inherit;
        }

        .block-handle {
            transition: 0.2s;
            padding-top: 8px;
            font-size: 16px;
            opacity: 0%;
            color: var(--titlebar-color);
        }

        .block-remove-button {
            display: none;
            position: absolute;
            z-index: 10;
            left: 1px;
            top: 1px;
            background-color: transparent;
            height: 30px;
            width: 30px;
            border-radius: 5px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            
            .fi {
                pointer-events: none;
                color: var(--titlebar-color);
                font-size: 10px;    
            }
        }

        .block-content{
            outline: 1px solid transparent;
            transition: 0.2s;
            &:has(.MafsView){
                outline: 1px solid var(--tool-hover-bgcolor);
            }
        }

        &:hover {
            .block-content{
                outline: 1px solid var(--tool-hover-bgcolor);
                .block-remove-button{
                    display: flex;
                }
            }


            .block-handle {
                opacity: 70%;

                &:hover{
                    cursor: pointer;
                }
            }
        }  
    }
}