@import '../../Theme.scss';
@import '../Page.scss';

#main-app.rtl .block-remove-button {
    left: 1px !important;
    right: unset !important;
}


.layout {
    height: 100% !important;
    direction: ltr;
    width: 100%;
    max-height: 100%;
    min-width: 100%;

    .react-grid-placeholder{
        transition: 0.2s;
        background-color: var(--tool-bgcolor);
        opacity: 20%;
        border-radius: 5px;
    }
    
    .block {
        transition: 0.2s;
        display: flex;
        flex-direction: row;  
        width: 100%;
        height: 100%;
        gap: 5px;
        direction: var(--app-direction);

        .react-resizable-handle {
            z-index: 100;

            &::after {
                opacity: 20%;
                border-right: 2px solid hsla(var(--app-text-color), 1);
                border-bottom: 2px solid hsla(var(--app-text-color), 1);
                border-radius: 0 0 5px 0;
            }
        }

        .block-content {
            transition: inherit;
        }

        .block-handle {
            transition: 0.2s;
            padding-top: 8px;
            font-size: 16px;
            opacity: 0%;
            color: hsla(var(--app-text-color), 1);
        }

        .block-remove-button {
            display: none;
            position: absolute;
            z-index: 10;
            right: 1px;
            left: unset;        
            top: 1px;
            background-color: transparent;
            height: 30px;
            width: 30px;
            border-radius: 5px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            
            .fi {
                pointer-events: none;
                color: hsla(var(--app-text-color), 1);
                font-size: 10px;    
            }
        }

        .block-content{
            outline: 1px solid transparent;
            transition: 0.2s;
            &:has(.MafsView){
                outline: 1px solid var(--tool-hover-bgcolor);
            }
        }

        &:hover {
            .block-content{
                outline: 1px solid var(--tool-hover-bgcolor);
                .block-remove-button{
                    display: flex;
                }
            }


            .block-handle {
                opacity: 70%;

                &:hover{
                    cursor: pointer;
                }
            }
        }  
    }
}