@import '../../../Theme.scss';
@import '../../Page.scss';
@import '../Grid.scss';
@import "/node_modules/mafs/core.css";



.block-content{
    transition: 0.2s;
    width: 100%;
    display: flex;
    outline: 1px solid transparent;
    border-radius: 5px;
    margin: 3px;
    direction: rtl;
    // background-color: var(--tool-bgcolor);
    overflow-y: auto;
    overflow-x: hidden;

    // Math
    .math-field-element{
        font-size: 25px;
        color: var(--titlebar-color);
        width: 100%;
        height: 100%;
        outline: none;

        &::part(content){
            justify-content: center !important;
        }
    }



    // Text
    .textbox{
        padding: 10px;
        color: var(--titlebar-color);
        width: 100%;
        height: inherit;

        p:first-child{
            margin-top: 0 !important;
        }
    }
    
    // Divider
    &:has(.pageDivider){
        background: gray;
        opacity: 40%;
        direction: rtl;
        margin-right: 0px;
        max-width: 100%;
        width: 100%;
        height: 1px;
        border: none;
        transition: 0.2s;
        align-self: center;
    }

    // Graph
    .graph-block-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;

        .math-field-element{
            border: 1px solid var(--tool-hover-bgcolor);
            height: 50px;
            min-height: 50px;
            max-height: max-content;
        }
        
        .MafsView {
            --mafs-bg: var(--page-bgcolor);
            --mafs-fg: var(--titlebar-color);
        }
    }
}