@import '../../../Theme.scss';
@import '../../Page.scss';
@import '../Grid.scss';
@import "/node_modules/mafs/core.css";

.block-content{
    transition: 0.2s;
    width: 100%;
    display: flex;
    outline: 1px solid transparent;
    border-radius: 5px;
    margin: 3px;
    direction: var(--app-direction);
    overflow-y: auto;
    overflow-x: hidden;

    // Math
    .math-field-element{
        --hue: var(--theme-hue);
        --selection-background-color: var(--math-block-selection-bg);
        --selection-color: var(--math-block-selection);
        font-size: 25px;
        color: hsla(var(--app-text-color), 1);
        width: 100%;
        height: 100%;
        outline: none;
        display: flex;
        justify-content: center;
        background-color: var(--math-block-bgcolor);
        &::part(content){
            margin-top: 5px;
        }
    }

    // Text
    .textbox{
        padding: 10px;
        color: hsla(var(--app-text-color), 1);
        width: 100%;
        height: inherit;
        overflow-wrap: anywhere !important;
        font-size: larger;

        p, h1, h2, h3, h4, h5, h6 {
            &:first-child{
                margin-top: 0 !important;
            }
        }

        [role="math"]{
            --hue: var(--theme-hue);
            --selection-background-color: var(--math-block-selection-bg);
            --selection-color: var(--math-block-selection);
            font-size: 25px;
            color: hsla(var(--app-text-color), 1);
            width: 100%;
            height: 100%;
            outline: none;
            display: flex;
            justify-content: center;
            background-color: var(--math-block-bgcolor);
            &::part(content){
                margin-top: 5px;
            }
        }
    }
    
    // Divider
    &:has(.pageDivider){
        background: gray;
        opacity: 40%;
        direction: var(--app-direction);
        margin-right: 0px;
        max-width: 100%;
        width: 100%;
        height: 1px;
        border: none;
        transition: 0.2s;
        align-self: center;
    }

    // Graph
    .graph-block-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    
        .math-field-element{
            border-top: 1px solid var(--tool-hover-bgcolor);
            height: 50px;
            min-height: 50px;
            max-height: max-content;
            align-items: center;
            &::part(content){
                margin-top: unset;
            }
        }

        .MafsView {
            font-family: 'CMU Serif';
            direction: ltr;
            --mafs-line-color: var(--page-border);
            --mafs-bg: var(--page-bgcolor);
            --mafs-fg: hsla(var(--app-text-color), 1);
            --mafs-blue: var(--mafs-plot-color);

        }
    }

    // Draw
    .draw-applet {
        width: 100%;
        height: 100%;

        .t-ljGyqI{
            border: 1px solid transparent !important;
            border-radius: 6px !important;
            width: calc(100% - 27px);
            height: calc(100% - 6px);

            .tl-positioned{
                path:last-child{
                    fill: hsla(var(--app-text-color), 1);
                    stroke: hsla(var(--app-text-color), 1);    
                }
            }

            #tl{
                --tl-background: var(--math-block-bgcolor); 
            }

            #TD-Tools{
                --colors-panelContrast: var(--tool-hover-bgcolor);
                --colors-panel: var(--panel-bgcolor);
                --colors-hover: var(--tool-hover-bgcolor);
                --colors-text: hsla(var(--app-text-color), 1);
            }
            .c-itYKbw{
                display: none;
            }
            .c-dwQeTN{
                padding: 0;
            }

            button {
                background-color: unset;
                &:hover{
                    background-color: unset;
                }
            }
        }
    }
}