@import '../Theme.scss';

.command-bar {
  &-search {
    padding: 12px 16px;
    font-size: 16px;
    width: 100%;
    font-family: 'Rubik2', 'NotoSansArabic';
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    color: hsla(var(--app-text-color), 1);
  }

  &-result {
    padding: 14px 10px;
    border-radius: 8px;
    font-size: 16px;
    user-select: none;
    background: transparent;

    &.active {
      background: hsla(var(--theme-hue), 50%, 50%, 0.1);
    }
  }
}

body:has(#main-app.rtl) {
  .command-bar-search,
  .command-bar-result {
    direction: rtl !important;
  }
}
