@import '../Theme.scss';

.actions-group {
    display: none;
}

.math-sidebar.open{
    min-width: max-content;

    .actions-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        .actions-group-title {
            width: 100%;
            margin: 0;
            color: hsla(var(--app-text-color), 1);
            font-size: 22px;
            opacity: 50%;
        }
    
        .actions-group-content{
            width: 100%;
            min-height: 100px;
        }
    }
}
